
<div class="row">
    <div class="col-md-6">
        [#module name="xray" action="service" cycle="meshtastic"#]
    </div>
    <div class="col-md-1">
        <a href="#" onClick="$('#api_settings').toggle();return false;" class="btn btn-default"><i class="glyphicon glyphicon-wrench"></i> <#LANG_SETUP#></a>
    </div>

</div>

<div style="display:none" id='api_settings'>
    &nbsp;
    <form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form">
        <fieldset>

            <div class="form-group[#if ERR_MQTT_HOST#] has-error[#endif#]">
                <label>
                    MQTT host:
                </label>
                <input type="text" name="mqtt_host" placeholder="localhost" value="[#MQTT_HOST#]" class="form-control">
            </div>
            <div class="form-group[#if ERR_MQTT_PORT#] has-error[#endif#]">
                <label>
                    MQTT port:
                </label>
                <input type="text" name="mqtt_port" placeholder="1883" value="[#MQTT_PORT#]" class="form-control">
            </div>

            <div class="form-group">
                <label>
                    Authorization required:
                </label>
                <input type="radio" value="1" name="mqtt_auth" [#if MQTT_AUTH="1"#] checked[#endif#]> <#LANG_YES#>
                <input type="radio" value="0" name="mqtt_auth" [#if MQTT_AUTH!="1"#] checked[#endif#]> <#LANG_NO#>
                <br/>&nbsp;
            </div>

            <div id="mqtt_authorization"[#if MQTT_AUTH!="1"#] style="display:none"[#endif#]>
                <div class="form-group">
                    <label>
                        MQTT <#LANG_USERNAME#>:
                    </label>
                    <input type="text" name="mqtt_username" value="[#MQTT_USERNAME#]" class="form-control">
                </div>

                <div class="form-group">
                    <label>
                        MQTT <#LANG_PASSWORD#>:
                    </label>
                    <input type="password" name="mqtt_password" value="[#MQTT_PASSWORD#]" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label [#if ERR_BASE_TOPIC#] style="color:red;font-weight:bold"[#endif#]>
                    Base topic:
                </label>
                <input type="text" placeholder="msh" name="base_topic" value="[#BASE_TOPIC#]" class="form-control">
            </div>

            <div class="form-actions">
                <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
                <input type="hidden" name="view_mode" value="update_settings">
                <input type="hidden" name="mode" value="update">
            </div>
        </fieldset>
    </form>
</div>

[#if OK_MSG!=""#]
&nbsp;
<div class="alert alert-success"><#OK_MSG#></div>
[#endif#]

 <!-- action usual -->
 [#if DATA_SOURCE="mesh_devices" || DATA_SOURCE=""#]
 <!-- table mesh_devices search -->
 [#if VIEW_MODE="search_mesh_devices" || VIEW_MODE=""#]
  [#inc mesh_devices_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table mesh_devices search -->
 <!-- table mesh_devices edit -->
 [#if VIEW_MODE="edit_mesh_devices"#]
   [#if ID!=""#]
&nbsp;
<div class="row">
    <div class="col-md-1">
     <a href="?" class="btn btn-default">&larr; <#LANG_BACK#></a>
    </div>
 <div class="col-md-11">
     <h4>[#TITLE#]</h4>
 </div>
</div>
&nbsp;
<ul class="nav nav-tabs">
  <li[#if TAB=""#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
  </li>
  <li[#if TAB="data"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data">&#060#LANG_DATA#&#062</a>
  </li>
    <li[#if TAB="text"#] class="active"[#endif#]>
    <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=text">&#060#LANG_TEXT#&#062</a>
    </li>

    <li[#if TAB="history"#] class="active"[#endif#]>
    <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=history">&#060#LANG_HISTORY#&#062</a>
    </li>
</ul>
&nbsp;
   [#endif ID#]
   [#if TAB=""#]
    [#inc mesh_devices_edit_default.html#]
   [#endif TAB#]
   [#if TAB="data"#]
    [#inc mesh_devices_edit_data.html#]
   [#endif TAB#]
[#if TAB="history"#]
[#inc mesh_devices_edit_history.html#]
[#endif TAB#]
[#if TAB="text"#]
[#inc mesh_devices_edit_text.html#]
[#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table mesh_devices edit -->
 <!-- table mesh_devices view --> 
 [#if VIEW_MODE="view_mesh_devices"#]
   [#if TAB=""#]
    [#inc mesh_devices_view_default.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table mesh_devices view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="mesh_properties"#]
 <!-- table mesh_properties search -->
 [#if VIEW_MODE="search_mesh_properties" || VIEW_MODE=""#]
  [#inc mesh_properties_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table mesh_properties search -->
 <!-- table mesh_properties edit -->
 [#if VIEW_MODE="edit_mesh_properties"#]
   [#inc mesh_properties_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table mesh_properties edit -->
 <!-- table mesh_properties view --> 
 [#if VIEW_MODE="view_mesh_properties"#]
   [#inc mesh_properties_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table mesh_properties view -->
 [#endif DATA_SOURCE#]

[#if VIEW_MODE="edit_mesh_channels"#]
[#inc mesh_channels_edit.html#]
[#endif VIEW_MODE#]
