&nbsp;
<div class="row">
    <div class="col-md-1">
     <a href="?" class="btn btn-default">&larr; <#LANG_BACK#></a>
    </div>
    <div class="col-md-1">
        <a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i> <#LANG_REFRESH#></a>
     </div>
 <div class="col-md-10">
     <h4>[#CHANNEL_NAME#] (#[#CHANNEL_NUM#])
     </h4>
 </div>
</div>
&nbsp;
<div class="row">
    <div class="col-md-8">
        <form action="?" method="post" class="form-inline">
            <div class="form-group">
                <input type="text" name="message" placeholder="Message..." value="" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" name="subm" value="<#LANG_SEND#>" class="btn btn-default">
            </div>
            <input type="hidden" name="mode" value="send">
            <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
            <input type="hidden" name="id" value="[#ID#]">
        </form>

        [#if MESSAGES#]
        &nbsp;
        <table class="table">
            <thead>
            <tr>
                <th><#LANG_ADDED#></th>
                <th>From</th>
                <th><#LANG_TEXT#></th>
            </tr>
            </thead>
            [#begin MESSAGES#]
            <tr>
                <td>[#ADDED#]</td>
                <td>
                    [#FROM_UID#]
                    [#if DEVICE_ID!=""#]
                    &mdash;
                    <a href="?view_mode=edit_mesh_devices&id=[#DEVICE_ID#]">[#DEVICE_TITLE#]</a>
                    [#endif#]
                </td>
                <td>[#MESSAGE#]</td>
            </tr>
            [#end MESSAGES#]
        </table>
        [#else MESSAGES#]
        &nbsp;
        <div class="alert alert-info">
            No messages
        </div>
        [#endif MESSAGES#]
    </div>
    <div class="col-md-4">
        <h4><#LANG_EDIT#> [#CHANNEL_NAME#]</h4>
        <form action="?" method="post" class="form">
            <div class="form-group">
                <label>
                    <#LANG_CAN_TTS#>:
                </label>
                <div>
                <input type="radio" value="1" name="send_system_messages" [#if SEND_SYSTEM_MESSAGES="1"#] checked[#endif#]> <#LANG_YES#>
                <input type="radio" value="0" name="send_system_messages" [#if SEND_SYSTEM_MESSAGES!="1"#] checked[#endif#]> <#LANG_NO#>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <#LANG_MIN_MSG_LEVEL#>:
                </label>
                <input type="text" name="min_msg_level" value="[#MIN_MSG_LEVEL#]" class="form-control">
            </div>
            <input type="hidden" name="mode" value="update">
            <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
            <input type="hidden" name="id" value="[#ID#]">
                <div class="form-gorup">
                    <input type="submit" name="subm" value="Update" class="btn btn-default">
                </div>
        </form>
    </div>
</div>